[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kageyama-dev
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kageyama-dev
	label-Verified = -1..+1 group user/kageyama-dev
	push = group user/kageyama-dev
	read = group user/kageyama-dev
	rebase = group user/kageyama-dev
	removeReviewer = group user/kageyama-dev
	submit = group user/kageyama-dev
[access "refs/heads/*"]
	create = group user/kageyama-dev
	push = +force group user/kageyama-dev
	pushMerge = group user/kageyama-dev
	read = group user/kageyama-dev
[access "refs/tags/*"]
	push = group user/kageyama-dev
	push = +force group user/kageyama-dev
